<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form action='/bookmarks/new' method='get'>
  <button type='submit'>Add bookmark</button>
</form>

<!-- bookmark added
http://www.bbc.co.uk -->
