<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action='/bookmarks/new' method='get'>
  <button type='submit'>Add bookmark</button>
</form>

<!-- bookmark added
http://www.bbc.co.uk -->
