<h1>Update bookmark</h1>
<form action='/bookmarks' method='post'>
  <input name='title' type='text' value= <%= "title" %>>
  <input name='url' type='text' value= <%= "url" %>>
  <button type='submit'>Update</button>
</form>
